.contact-form {
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-contact {
  font-size: 2.4rem;
  color: #9575de;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0px 90px;
  position: relative;
}

.contact-form .form-origin {
  width: 100%;
  min-height: 480px;
  background-color: #303030;
  padding: 50px 30px;
  border-radius: 10px;
}

.contact-form input {
  color: #777;
  font-size: 14px;
  border: 1px solid #e3e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 10px 22px;
  margin-bottom: 30px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
  color: black;
  opacity: 0.8;
}

.contact-form textarea {
  height: 240px;
  padding: 20px;
  font-size: 14px;
  background-color: transparent;
  color: #777;
}

.btn-contact {
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  padding: 12px 25px;
  border: none;
  outline: none;
  background-color: #f0eb8d;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 12px;
  transition: 0.2s ease;
}

.btn-contact:hover {
  background-color: #ffc23c;
}

.content-contact {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 8px 18px;
  flex-direction: column;
}

.heading-content {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
}

.heading-content span {
  color: #9575de;
}

.contact-desc {
  font-size: 1rem;
  margin: 8px 0;
  font-weight: 300;
  opacity: 0.9;
}

@media screen and (max-width: 992px) {
  .heading-contact {
    margin-top: 80px;
  }
}
